#top_header{
	
	text-align: center;
	background-color: orange;
	color: white;
}
.top_nav{    
	
	text-align: right;
	background-color: blue;
	margin-left: 1000px;
	margin-top: 5px;
	color:white;
	
}
.top_nav li{

    display: inline-block;
	list-style: none;
	padding: 5px;
	text-decoration:no-underline;
	color:white;
	
}
